@model Calgos.Models.Review


@{
    ViewBag.Title = "Edit";
}

<h2>Editare review</h2>
<br />


@using (Html.BeginForm(controllerName: "Reviews", actionName: "Edit", 
       method: FormMethod.Post, routeValues: new { id = Model.Id }))

{
    @Html.Label("Content", "Continut review")

    <br />

    @Html.Editor("Content", new { @class = "form-control" })
    <br />

    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

    <br />



    <label>Rating:</label>
    <div class="star-rating">
    @for (int i = 1; i <= 5; i++)
        {
          <span class="star" data-value="@i"><i class="far fa-star"></i></span>
        }
     </div>
     <input type="hidden" name="Points" value="0" required/>

    @Html.ValidationMessage("Points", null, new { @class = "text-danger"})


    <br /><br />

    <button class="btn  btn-primary" type="submit">Editeaza reviewul</button>

}

