@model Calgos.Models.Product




<div class="card border-warning mb-3" style="width: 18rem; border-width: 2px">
  <img class="card-img-top" src="@Url.Content(Model.Image)" href="/Products/Show/@Model.Id" alt="Card image cap" style="height: 200px;">
  <div class="card-body">
    <h5 class="card-title"><a href="/Products/Show/@Model.Id">@Model.Title</a></h5>
    <p class="card-text">@Model.Description</p>
    <p>@Model.pret RON</p>
        @{
            var hasBaskets = ViewBag.UserBaskets != null && ViewBag.UserBaskets.Count > 0;
            var firstBasketId = hasBaskets ? ViewBag.UserBaskets[0].Id : 0;
        }
<form method="post" asp-controller="Products" asp-action="AddBasket">
    <input type="hidden" name="ProductId" value="@Model.Id" />
            @if (hasBaskets)
            {
            <input type="hidden" name="BasketId" value="@firstBasketId" />
            <div>
                <input type="submit" class="btn btn-outline-warning" value="Adauga in cos" />
            </div>
            }
            else
            {
            <div>
                <a href="@Url.Action("New", "Baskets")" class="btn btn-primary">Creeaza cosul de cumparaturi</a>
            </div>
            }
</form>


  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="bi bi-globe"></i> @Model.Category.CategoryName</li>
    <li class="list-group-item"><i class="bi bi-person"></i> @Model.User.UserName</li>
    <li class="list-group-item">@Model.Date</li>
  </ul>
</div>
