@model Calgos.Models.Product





<div class="card border-warning mb-3" style="width: 18rem; border-width: 2px">
  <img class="card-img-top" src="@Url.Content(Model.Image)" href="/Products/Show/@Model.Id" alt="Card image cap" style="height: 200px;">
  <div class="card-body">
    <h5 class="card-title"><a href="/Products/Show/@Model.Id">@Model.Title</a></h5>
    <p class="card-text">@Model.Description</p>
    <p>@Model.pret RON</p>
      
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="bi bi-globe"></i> @Model.Category.CategoryName</li>
    <li class="list-group-item"><i class="bi bi-person"></i> @Model.User.UserName</li>
    <li class="list-group-item">@Model.Date</li>
  </ul>
</div>
