@model ArticlesApp.Models.Review


@{
    ViewBag.Title = "Edit";
}

<h2>Editare review</h2>
<br />


@using (Html.BeginForm(controllerName: "Reviews", actionName: "Edit", 
       method: FormMethod.Post, routeValues: new { id = Model.Id }))

{
    @Html.Label("Content", "Continut review")

    <br />

    @Html.Editor("Content", new { @class = "form-control" })
    <br />

    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

    <br />

    @Html.Label("Points", "Rating produs")

    <br />

    @Html.Editor("Points", new { @class = "form-control" })
    <br />

    @Html.ValidationMessage("Points", null, new { @class = "text-danger" })


    <br /><br />

    <button class="btn  btn-primary" type="submit">Editeaza reviewul</button>

}

