@model Calgos.Models.Order
@{
    ViewBag.Title = "Create Order";
}

<h2>Create Order</h2>

@using (Html.BeginForm("New", "Orders", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("adresa", "Adresa de livrare")
        @Html.EditorFor(model => model.adresa, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.adresa, "", new { @class = "text-danger" })
    </div>

    <label>Metoda de livrare</label>
    @Html.DropDownListFor(model => model.metodaLivrare, 
                                    new SelectList(
                                    new List<SelectListItem> 
                                     { 
                                        new SelectListItem { Text = "Curier", Value = "Curier" },
                                        new SelectListItem { Text = "Easybox", Value = "Easybox" },
                                     }, "Value", "Text"),
                                    "Selectati o optiune",
                                    new { @class = "form-control" })

   
     <label>Metoda de plata</label>
     @Html.DropDownListFor(model => model.metodaPlata, 
                                    new SelectList(
                                    new List<SelectListItem> 
                                     { 
                                        new SelectListItem { Text = "Ramburs", Value = "Ramburs" }
                                     }, "Value", "Text"),
                                    "Selectati o optiune",
                                    new { @class = "form-control" })

    <br />
    <br />
    <div class="form-group">
        <input type="submit" value="Plasati comanda" class="btn btn-warning misto" />
    </div>
}

