@{
    ViewBag.Title = "Search";

    var searchQuery = ViewBag.SearchQuery as string;

    var order = ViewBag.order as string;
}
<br />

<h2 class="text-center">Afisare produse</h2>

<br />


@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />


<div class="container">
    <div class="row">
        @foreach (Calgos.Models.Product product in ViewBag.Products)
        {
                    <div class="col-md-4"> 
                        <div class="card" style="width: 18rem;">
                    @Html.Partial("ProductInfo", product)
                        </div>
                    </div>
        }
    </div>
</div>

@if (order == "asc")
{
    <button type="submit" form="sortForm" class="btn btn-warning">Sort by Price (Desc)</button>

    <form id="sortForm" method="get" action="@Url.Action("Search", "Products")">
        <input type="hidden" name="searchQuery" value="@searchQuery" />
        <input type="hidden" name="order" value="desc" />
    </form>
}
else
{
    <button type="submit" form="sortForm" class="btn btn-warning">Sort by Price (Asc)</button>

    <form id="sortForm" method="get" action="@Url.Action("Search", "Products")">
        <input type="hidden" name="searchQuery" value="@searchQuery" />
        <input type="hidden" name="order" value="asc" />
    </form>
}
