@model Calgos.Models.Product


@* Afisarea unui produs impreuna cu categoria din care face si ratingul lui *@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    @Html.Partial("ProductInfo_Show", Model) 

    @if (ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-warning misto" href="/Products/Edit/@Model.Id">Editeaza produs</a>

            <form method="post" action="/Products/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge produs</button>

            </form>

        </div>
    }
</div>

    

    

<br />
<br />

@* Afisare reviewuri impreuna cu butoanele de editare si stergere *@

@foreach (var rev in Model.Reviews)
{
        <div class="container">
        <div class="row">

            <div class="col-md-10">

                <div>

                    <p>@rev.Content</p>
                        <div class="star-rating">
                        @for (var i = 1; i <= 5; i++)
                        {
                            if (i <= rev.Points)
                            {
                                           <span class="star_unclickable" data-value="@i"><i class="fas fa-star star_unclickable"></i></span>
                            }
                            else {
                                           <span class="star_unclickable" data-value="@i"><i class="far fa-star star_unclickable"></i></span>
                            }
                            
                        }
                    </div>
                      

                    <small>@rev.Date</small>
                    <strong><i class="bi bi-person"></i>@rev.User.UserName</strong>

                </div>
                <br>


                    @if (rev.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                    {

                    <div class="d-flex">
                        @if (rev.UserId == ViewBag.UserCurent)
                        {
                            <div>

                                <a class="btn btn-outline-primary" href="/Reviews/Edit/@rev.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                            </div>
                        }
                        <div>

                                <form method="post" action="/Reviews/Delete/@rev.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>

                            </div>

                        </div>
                    }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un review *@

<div class="container">

    <div class="row">

       

        <div class="col-md-10">

            <div class="card">
                
                <form method="post" action="/Products/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ProductId" value="@Model.Id" />

                        <label>Continut review</label>
                        <br />

                        <textarea class="form-control" name="Content" required></textarea>

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                        <label>Rating:</label>
                        <div class="star-rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <span class="star" data-value="@i"><i class="far fa-star"></i></span>
                            }
                        </div>
                        <input type="hidden" name="Points" value="0" required/>
                      
                        @Html.ValidationMessage("Points", null, new { @class = "text-danger"})


                        <br /><br />

                        <button class="btn btn-warning " type="submit">Adauga review</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
