@model ArticlesApp.Models.Product


<h2 class="text-center mt-5">Adaugare produs</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3"> 

            @using (Html.BeginForm(actionName: "New", controllerName: "Products",
            method: FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })  

                @Html.Label("Title", "Titlu Produs")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br /><br />


                // pret

                @Html.Label("Pret", "Pret")
                <br />
                @Html.TextBox("Pret", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.pret, "", new { @class = "text-danger" })
                <br />

                @Html.Label("Description", "Descriere produs: ")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })

                @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                <br />

                <label>Selectati categoria</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                "Selectati categoria", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                <br />

                <label for="Photo">Select Photo:</label>
                <input type="file" name="Image" id="Image"/>
                <br /> <br />


                <button class="btn btn-warning" type="submit">Adauga produs</button>
            
            }
            
        </div>
    </div>
</div>








